<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<!-- Upload method -->
	<key>method</key>
	<string>app-store</string>
	<!-- Profiles Setup for all targets (Extensions)-->
	<key>provisioningProfiles</key>
	<dict>
		<key>com.***.ios</key>
		<string>Prod_com.***</string>
		<key>com.***.ios.Notification-Content</key>
		<string>Prod_com.***.ios.Notification-Content</string>
		<key>com.***.ios.Notification-Service</key>
		<string>Prod_com.***.ios.Notification-Service</string>
	</dict>
	<!-- Certificate-->
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<!-- Team Id-->
	<key>teamID</key>
	<string>Team_ID</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
